# Site settings
baseurl = "https://angryalbatross.github.io/"
languageCode = "en-us"
title = "BTC"
theme = "hugo-agency-theme"

# Enter your tracking code to enable Google Analytics
googleAnalytics = ""

[params]
  # You can use Markdown syntax for urls [text](//url.to/source) or
  # most longer texts.
  #
  # All icons using Fontawesome's icon font. Look at fortawesome.github.io/Font-Awesome/icons/
  # for more icons. The icons are represented by their corresponding
  # CSS class.

  # To provide some metadata for search engines feel free to add a few
  # information about you and your website.
  name = "Burgett Technology and Consulting"
  description = "A consulting company for small businesses in Tyler, Texas"

  # Link custom assets relative to /static
  custom_css = []
  custom_js  = []
  favicon    = "favicon.ico"

  # Possibility to disable external/additional fonts
  # Exception: Fontawesome
  disableFonts = false

  # 404 error customization
  [params.error404]
    heading = "Page couldn't be found"
    text = "Please visit [this page](/)"

  # Optional piwik tracking
  #[params.analytics.piwik]
  #  URL = "https://stats.example.com"
  #  ID = "42"
  #  # Track all subdomains with "*.example.com"
  #  domain = "www.example.com"
  #  # Optional integrity check hash
  #  hash = "sha512-RfeD0pacGTqy9m7U6PgehQfS4cc7SIt+e+P+H5e848kEvB/RW84CUGO3O4O3LNbxjevym6KPUZ8muPsMrI8WIw=="

  # Navigation
  [params.navigation]
    brand = "Burgett Technology Consulting"
    # Optional logo as brand stored in img/
    #logo = "logo.svg"
    services = "Services"
    portfolio = "Customers"
    about = "About"
    team = "About"
    contact = "Contact"

    # Add custom links. Those can be pre- and postpended to the default menu above.
    # Use the weight attribute to order your custom links. Uncomment the example
    # below and replace the values with your own.

    # prepended links
    #[[menu.prepend]]
    #  url = "http://gohugo.io"
    #  name = "Hugo"
    #  weight = 10

    # postpended links
    [[menu.postpend]]
      url = "http://gohugo.io"
      name = "External link"
      weight = 10


  # Hero section
  [params.hero]
    # To change the background image of the hero, replace 'header-bg.jpg' in
    # the 'static/img' folder.
    title = ""
    subtitle = "How can I help your business succeed?"
    buttonText = "Tell me more"


  # Services section
  [params.services]
    enable = true
    title = "Services"
    subtitle = "I offer many services to help small businesses, below are a few examples."

    [[params.services.row]]

    [[params.services.row.list]]
      icon = "fa-handshake-o"
      title = "Strategic Analysis"
      description = "Let me analyze your business and the industry its in. Sometimes you need someone from the outside to give you a new persepective on your company. I can point out your competitors strategies to you, and can help you understand how to help your business thrive. Together we can go over the political, economic, social, etchnological, environmental and legal aspects of your company. Also we can look at the five forces that affect every business to see how you can better position yourself in the market. I can work with any company in any industry."
      url = ""

    [[params.services.row.list]]
      icon = "fa-laptop"
      title = "Web/Social Media Presence"
      description = "I can work with you to enchance your presence on the web. Lets use technology to improve your customer base!  Together we can craft your social media strategy, and increase your search engine optimization. Communication with customers is key, and in the digital age its all done on the web!"
      url = ""

    [[params.services.row.list]]
      icon = "fa-line-chart"
      title = "Website Creation"
      description = "Let me create an awesome website for your business. If you just need a small static info page or a big custom built site, I can design or build it for you. Every business needs a website these days, and Burgett Technology Consulting can give you one on time and on budget!"
      url = ""

  # Portfolio section
  [params.portfolio]
    enable = true
    # All projects defined in their own files. You can find example projects
    # at 'exampleSite/data/projects'. Copy the 'projects' folder into the 'data' directory
    # at the root of this Hugo site.
    # For more informtion take a look at the README.
    title = "Previous Customers"
    subtitle = "Below are a few of my happy customers."

    [params.portfolio.modal]
      client = "Client"
      date = "Date"
      category = "Category"
      buttonText = "Close project"


    # About section
  [params.about]
    enable = false
    title = "About"
    subtitle = "Our company was formed to help the businesses of East Texas"
    endpoint = "Be part<br>of our<br>story!"

    # The events will be listed from the top to the bottom.
    # All images are stored under 'static/img/about'.
    # Replace them with your own.
    [[params.about.events]]
      img = "portrait.jpg"
      date = "July 2016"
      title = "Our Humble Beginnings"
      description = "Our company was founded.  With a focus on aiding small businesses with their Technology and Strategic needs."

    [[params.about.events]]
      img = "2.jpg"
      date = "August 2016"
      title = "Our First Customers"
      description = "We worked with Pine Cove Christian camp in Tyler. Our company researched new potential locations for Pine Cove to expand too."



  # Team section
  [params.team]
    enable = true
    # Possibility to center items
    center = true
    title = "Who I am"
    subtitle = "Masters in Business Administration, B.S. in Visualization"
    description = ""

    # All team member's pictures are stored under 'static/img/team'.
    # Replace them with your own too.
    # Suggestion: Image size should be at least 360px*360px or the alignment might be affected.
    [[params.team.members]]
      img = "1.jpg"
      name = "Dan Burgett"
      position = ""
      reportsTo = ""
      livesIn = "[Tyler, Texas](#https://www.google.com/maps/place/Tyler,+TX/@32.3305477,-95.4674805,11z/data=!4m13!1m7!3m6!1s0x8649cc051eabf9e3:0x3e285c7d7177701c!2sTyler,+TX!3b1!8m2!3d32.3512601!4d-95.3010624!3m4!1s0x8649cc051eabf9e3:0x3e285c7d7177701c!8m2!3d32.3512601!4d-95.3010624)"
      scope = [
        ""
      ]
      # For bio markdown and even multiline strings are available.
      bio = """I am Dan Burgett - Business Consultant extraordinaire!
      I have an MBA from Longwood University and a B.S. in Visualization from Texas A&M.
      I first started out my career working in Washington D.C. as a defense contractor on military video games, websites and smartphone apps.
      Eventually I got really tired of that.
      I spent two years studying graduate level business administration and moved out to Tyler to work for Pine Cove as a website developer.
      I love living in East Texas and want to help the businesses here succeed!"""
      social = [
      ]

    # [[params.team.members]]
    #   img = "2.jpg"
    #   name = "Larry Parker"
    #   position = "Lead Marketer"
    #   social = [
    #     ["fa-twitter", "#"],
    #     ["fa-facebook", "#"],
    #     ["fa-linkedin", "#"]
    #   ]



  # Client section
    [params.clients_list]
      enable = false
      # Possibility to center items
      #center = true
      # Optional client title specifying the involvement
      #title = "Used and trusted by"

      # All the clients' logos are stored under 'static/img/logos'.
      # Replace them with your clients's logos.
      # Suggestion: .svg in the size of 280px*80px looks good
      [[params.clients]]
        logo = "envato.jpg"
        link = "#"

      [[params.clients]]
        logo = "designmodo.jpg"
        link = "#"

      [[params.clients]]
        logo = "themeforest.jpg"
        link = "#"

      [[params.clients]]
        logo = "creative-market.jpg"
        link = "#"

  # Contact section
  [params.contact]
    enable = true
    title = "Contact us"
    subtitle  = "I would love to hear from you."
    buttonText = "Send message"

    # Since this template is static, the contact form uses www.formspree.io as a
    # proxy. The form makes a POST request to their servers to send the actual
    # email. Visitors can send up to a 1000 emails each month for free.
    #
    # What you need to do for the setup?
    #
    # - set your email address under 'email' below
    # - upload the generated site to your server
    # - send a dummy email yourself to confirm your account
    # - click the confirm link in the email from www.formspree.io
    # - you're done. Happy mailing!

    # It is possible to substitute formspring with other providers
    # as an example the mailout plugin from caddy.
    # Provide the post URL for the form and depending on the provider
    # add some custom JS script to finish the implementation.
    # postURL = "https://example.com/mailout/"

    email = "daniel.burgett@gmail.com"

    # Success and error message overwrite for async contact form
    #thanks = "Thank you for awesomely contacting us."
    #error = "Message could not be send. Please contact us at mail@example.com instead."

    # 'warning' defines error messages for invalid inputs
    [params.contact.form.name]
      text = "Your Name *"
      warning = "Please enter your name."

    [params.contact.form.email]
      text = "Your Email *"
      warning = "Please enter your email address."

    [params.contact.form.phone]
      text = "Your Phone *"
      warning = "Please enter your phone number."

    [params.contact.form.message]
      text = "Your Message *"
      warning = "Please enter a message."

      # Add optional form fields to identify contact forms
      #[[params.contact.form.hidden]]
      #  name = "someID"
      #  value = "example.com"
      #
      #[[params.contact.form.hidden]]
      # Special values for name such as "page" and "site" will be autofilled
      #  name = "page"



  # Footer section
  [params.footer]
    enable = false
    copyright = ""

    [[params.footer.social]]
      icon = ""
      link = ""

    [[params.footer.social]]
      icon = ""
      link = ""

    [[params.footer.social]]
      icon = ""
      link = ""

    [[params.footer.quicklinks]]
      text = ""
      link = ""

    [[params.footer.quicklinks]]
      text = ""
      link = ""
